body{
    background: rgb(3,4,3);
background: linear-gradient(90deg, rgba(3,4,3,1) 1%, rgba(231,44,11,0.06488532913165268) 100%);
}
.yow{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    border-radius: 10px;
    height: 400px;
}
button{
    background-color: #AF435B;
    color: white;
    
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-bottom: 100px;
    padding: 10px;
    width: 100px;
    margin: 10px;
    margin-left: 40px;
}
label{
    color: #AF435B;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    


}